.post_card_box {
    // border: 2px solid teal;

    .post_card_wrap {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .post_image{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }
}


.comment_write_area{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.5rem;
}
